/*
Removes the little arrow on the side of the dropdown
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}
*/

/*
wish-full thinking in terms of a custom arrow on the dropdown
.rail-select {
  position: absolute;
  width: 150px;
}

.rail-select.select {
  border: solid 1px grey;
  border-radius: 3px;
  font-size: 16px;
  color: gray;
  height: 42px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.rail-select.select:focus {
   outline: none;
   box-shadow: none;
   border: solid 1px grey;
 }

.rail-select.select-side {
  pointer-events: none;
}
.rail-select.select-side:before {
   border-left: solid 1px lightgrey;
   content : "";
   position: absolute;
   left    : 0;
   bottom  : 0;
   height  : 100%;
   width   : 1px;
 }

.rail-select.select-side {
  width: 40px;
  position: absolute;
  top: 0px;
  background-color: #F3F9FE;
  height: 100%;
  left: 120px;
  border-radius: 0px 3px 3px 0px;
  border-right: solid 1px gray;
  border-top: solid 1px gray;
  border-bottom: solid 1px gray;
}

i {
  left: 30%;
  top: 12px;
}

i.blue {
  color: #4E7AF0;
}
*/

.dropdown-menu{
  background-color: #800000 !important;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}

.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}
