html {
  margin: 0px !important;
  height: 100% !important;

}

body {
  top: 0px !important;
  padding-top: 0px !important;
  margin: 0px !important;
  min-height: 100% !important;
  background-color: #cccccc !important;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2,
.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4,
.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6,
.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8,
.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10,
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding-left: 3px !important;
  padding-right: 3px !important;
}

.mat-icon-button {
  height: unset !important;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 150px;
  font-size: 80%;
  color: black;
}

.container {
  margin: auto;
  margin-top: 80px;
  width: 80%;
  height: 100%;
  /*border: 1px solid red;*/
}

.box {
  border: 1px solid red;
}

.image-background {
  background-color: #212124;
  width:auto;
  height: 500px;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: black !important;
}

.nav.navbar-nav li a{
  color: #eee !important;
}
.nav.navbar-nav li a:hover{
  color: #999 !important;
}

.navbar-brand {
  padding: 8px 15px !important;
}

.loginbackground {
  background-color: #800000;
  position: fixed;
  top: 0;
  bottom:0;
  left:0;
  right:0;
}

.mat-tab-label {
  background-color: #cccccc !important;
}

.greybackground {
  background-color: #cccccc;

  background-size: cover;
  background-position: 50% 50%;
  background-repeat: repeat;
  top:0;
  bottom:0;
  left:0;
  right:0;
  height: 100%;
}

button[type="submit"] {
  background-color: #800000 !important;
  border-color: #800000;
  color: white;
}

.panel-body .pre-scrollable {
  background-color: darkgrey;
}

.form-group input[type="checkbox"] {
  display: none;
}

.form-group input[type="checkbox"] + .btn-group > label span {
  width: 20px;
}

.form-group input[type="checkbox"] + .btn-group > label span:first-child {
  display: none;
}
.form-group input[type="checkbox"] + .btn-group > label span:last-child {
  display: inline-block;
}

.form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
  display: inline-block;
}
.form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
  display: none;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #800000; /*#a94442 red */
}

.modal {
  background: rgba(0,0,0,0.6);
}

.mat-tab-label:nth-child(1) {
  background-color: #E1E8F5;
}
.mat-tab-label:nth-child(2) {
  background-color: #E1E8F5;
}
.mat-tab-label:nth-child(3) {
  background-color: #E6D2C8;
}

.panel-default > .panel-heading {
  background-color: #333333 !important;
  color: white !important;
}

input:read-only:hover{
  border-left: #2aabd2 !important;
  border-top: #2aabd2 !important;
  border-bottom: #2aabd2 !important;
  color: #2aabd2 !important;
}


#top, #bottom, #left, #right {
  background: #333333 !important;
  position: fixed;
}
  #left, #right {
    top: 0; bottom: 0;
    width: 25px;
  }
    #left { left: 0; }
    #right { right: 0; }

  #top, #bottom {
    left: 0; right: 0;
    height: 25px;
  }
    #top { top: 0; }
    #bottom { bottom: 0; }

#leftFooter {
  position: fixed;
  left: 10%;
}

#rightFooter {
  position: fixed;
  right: 10%;
}

#navigationbar {
  background-color: #800000;
  position: fixed;
}


