<nav-bar></nav-bar>

<div *ngIf="!costCentreAdded" class="greybackground">
  <div class="container">
    <form (ngSubmit)="onSubmit()" [formGroup]="costCentreForm" novalidate>
      <div class="form-inline" >
        <div class="form-group col-sm-12">
          <input type="text" placeholder="Search Account" aria-label="Number" mdInput
                 formControlName="ccNo" [matAutocomplete]="costCentreAuto"
                 class="form-control dropdown-toggle" style="width: 60%;">
          <mat-autocomplete #costCentreAuto="matAutocomplete" >
            <mat-option *ngFor="let cc of filteredCostCentres" [value]="cc.ccNo">
              {{ cc.ccNo }} | {{ cc.name }}
            </mat-option>
          </mat-autocomplete>
        </div>
      </div>


      <legend>Cost Centre Detail</legend>
      <div class="form-inline col-sm-4">
        <div class="form-group col-sm-12">
          <label class="control-label">Centre Number</label>
          <input type="text" class="form-control pull-right" formControlName="ccNo" required style="width: 62%;">
          <br>
          <br>
        </div>

        <div class="form-group col-sm-12">
          <label class="control-label">Centre Name</label>
          <input type="text" class="form-control pull-right" formControlName="name" required style="width: 62%;">
          <br>
          <br>
        </div>
      </div>

      <div class="form-inline col-sm-8">
        <div class="form-group col-sm-12">
          <label class="control-label">Customer Account Number</label>
          <input type="text" placeholder="Search Account" aria-label="Number" mdInput
                 formControlName="debtor" [matAutocomplete]="debtorAuto"
                 class="form-control dropdown-toggle pull-right" style="width: 70%;">
          <mat-autocomplete #debtorAuto="matAutocomplete" >
            <mat-option *ngFor="let key of filteredDebtors" [value]="key.accNo">
              {{ key.accNo }} | {{ key.regName }} | {{ key.tradeName }}
            </mat-option>
          </mat-autocomplete>
        </div>
        <br>
        <br>
      </div>

      <br>
      <br>
      <br>
      <br>
      <br>

      <!-------------------------  Company details section  ------------------------->
      <legend>Address Details</legend>
      <div class="form-inline col-sm-4">
        <div class="form-group col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading">Physical Address</div>
            <div class="panel-body" style="background-color: darkgrey;">
              <input type="text" class="form-control pull-right" formControlName="street1" style="width: 100%;">
              <br>
              <input type="text" class="form-control pull-right" formControlName="street2" style="width: 100%;">
              <br>
              <input type="text" class="form-control pull-right" formControlName="street3" style="width: 100%;">
              <br>
              <input type="text" class="form-control pull-right" formControlName="street4" style="width: 100%;">
              <br>
              <label class="control-label">Postal Code</label>
              <input type="text" class="form-control pull-right" formControlName="streetPostalCode" style="padding-left: 0px;">
            </div>
          </div>
        </div>
      </div>

      <div class="form-inline col-sm-4">
        <div class="form-group col-sm-12">
          <label class="control-label">Branch</label>
          <select class="form-control pull-right" formControlName="branch" style="width: 59%;">
            <option *ngFor="let keys of branches | sort" [value]="keys.value">{{keys.value}}</option>
          </select>
          <br>
          <br>
        </div>

        <div class="form-group col-sm-12">
          <label class="control-label">Country</label>
          <select class="form-control pull-right" formControlName="country" style="width: 59%;">
            <option *ngFor="let keys of countries | sort" [value]="keys.value">{{keys.value}}</option>
          </select>
          <br>
          <br>
        </div>

        <div class="form-group col-sm-12">
          <label class="control-label">Province</label>
          <select class="form-control pull-right" formControlName="province" style="width: 59%;">
            <option *ngFor="let keys of provinces | sort" [value]="keys.value">{{keys.value}}</option>
          </select>
          <br>
          <br>
        </div>

        <div class="form-group col-sm-12">
          <label class="control-label">City/Town</label>
          <select class="form-control pull-right" formControlName="city" style="width: 59%;">
            <option *ngFor="let keys of cities | sort" [value]="keys.value">{{keys.value}}</option>
          </select>
          <br>
          <br>
        </div>
        <br>
        <br>
      </div>


      <!-------------------------  Accountant details section  ------------------------->
      <div class="form-inline col-sm-4">
        <div class="form-group col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading">Operations Contact Details</div>
            <div class="panel-body" style="background-color: darkgrey;">
              <div class="form-group" style="width: 95%;">
                <label class="control-label">Firstname</label>
                <input type="text" class="form-control pull-right" formControlName="oppFName" style="width: 75%;">
                <br>
                <br>
              </div>

              <div class="form-group" style="width: 95%;">
                <label class="control-label">Surname</label>
                <input type="text" class="form-control pull-right" formControlName="oppSName" style="width: 75%;">
                <br>
                <br>
              </div>

              <div class="form-group" style="width: 95%;">
                <label class="control-label">Title</label>
                <select class="form-control pull-right" formControlName="oppTitle" style="width: 75%;">
                  <option *ngFor="let keys of titles | sort" [value]="keys.value">{{keys.value}}</option>
                </select>
                <br>
                <br>
              </div>

              <div class="form-group" style="width: 95%;">
                <label class="control-label">Cell</label>
                <input type="text" class="form-control pull-right" formControlName="oppCellNo" style="width: 75%;">
                <br>
                <br>
              </div>

              <div class="form-group" style="width: 95%;">
                <label class="control-label">Email</label>
                <input type="email" class="form-control pull-right" formControlName="oppEmail" style="width: 75%;">
                <br>
                <br>
              </div>
            </div>
          </div>
        </div>
        <br>
        <br>
      </div>

      <!-------------------------  Other Details  ------------------------->
      <legend class="pull-left">Other Details</legend>
      <div class="form-inline col-sm-12">


        <div class="form-group col-sm-4">
          <div class="form-inline">
            <div class="form-group">
              <input type="checkbox" id="suspended" autocomplete="off" formControlName="suspended">
              <div class="btn-group">
                <label for="suspended" class="btn btn-default">
                  <span class="glyphicon glyphicon-ok"></span>
                  <span></span>
                </label>
                <label for="suspended" class="btn btn-default active">
                  Suspended
                </label>
              </div>
            </div>
          </div>
          <br>
          <br>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-0 col-sm-10">
          <button *ngIf="!costCentreForm.valid" type="button" class="btn btn-default" (click)="modal.show()">Submit</button>
          <button *ngIf="costCentreForm.valid" type="submit" class="btn btn-default">Submit</button>
          <!--
          <button *ngIf="costCentreForm.valid" type="button" class="btn btn-default" (click)="onUpdate()">Update</button>
          -->
          <br>
          <br>
          <br>
          <br>
        </div>

      </div>
    </form>

    <app-modal #modal>
      <div class="app-modal-header">
        Your form has errors.
      </div>
      <div class="app-modal-body">
        <div *ngIf="formErrors.ccNo || !costCentreForm.controls.ccNo.valid" class="alert alert-warning">
          <label>{{formErrors.ccNo}}</label>
          <label *ngIf="costCentreForm.controls.ccNo.pristine">Account number required</label>
        </div>
        <!--
        <div *ngIf="formErrors.tradeName || !costCentreForm.controls.tradeName.valid" class="alert alert-warning">
          <label>{{formErrors.tradeName}}</label>
          <label *ngIf="costCentreForm.controls.tradeName.pristine">Trade name required</label>
        </div>
        <div *ngIf="formErrors.regName || !costCentreForm.controls.regName.valid" class="alert alert-warning">
          <label>{{formErrors.regName}}</label>
          <label *ngIf="costCentreForm.controls.regName.pristine">Registered name required</label>
        </div>
        -->
      </div>
    </app-modal>

  </div>
</div>


<div class="text-success" *ngIf="costCentreAdded" style="padding-top: 5%; padding-left: 30px;">
  <h1 routerLink="/home" routerLinkActive="active" href="#">Added Debtor Successfully!</h1>
</div>
