<div class="loginbackground">
  <div id="left"></div>
  <div id="right"></div>
  <div id="top"></div>
  <div id="bottom"></div>

  <div class="container centerPage">
    <div class="panel panel-default">
      <div class="panel-body">
        <h2 class="panel-heading text-center">Alpha Warehouse Management</h2>
      </div>
    </div>

    <br>
    <br>
    <br>
    <br>

    <form (ngSubmit)="onSubmit()" [hidden]="loginService.checkLogin()" [formGroup]="loginForm" novalidate>
      <div class="form-inline col-sm-12">
        <div class="col-sm-4"></div>
        <div class="form-group col-sm-4">
          <label class="control-label">Username</label>
          <input type="text" class="form-control pull-right" formControlName="userName" (blur)="CheckUsername" required><br><br>
        </div>
        <div class="col-sm-4"></div>
      </div>



      <div class="form-inline col-sm-12">
        <div class="col-sm-4"></div>
        <div class="form-group col-sm-4">
          <label class="control-label">Password</label>
          <input type="password" class="form-control pull-right" formControlName="password" required><br><br>
        </div>
        <div class="col-sm-4"></div>
      </div>


      <div class="form-inline col-sm-12">
        <div class="col-sm-4"></div>
        <div class="form-group col-sm-4">
          <button type="submit" class="btn btn-primary">Submit</button>
          <button type="button" class="btn btn-primary pull-right" routerLink="/changePassword" routerLinkActive="active">Change Password</button>
        </div>
        <div class="col-sm-4"></div>
      </div>
    </form>

    <div class="text-warning col-sm-12" *ngIf="showError" style="color: white !important; padding-top: 5%; padding-left: 30px;">
      <div class="col-sm-4"></div>
      <div class="col-sm-4">
        <h1>Invalid login details</h1>
      </div>
      <div class="col-sm-4"></div>
    </div>

    <div *ngIf="loginService.checkLogin()">
      <h1 routerLink="/home" routerLinkActive="active" style="color: white !important;">How did you get here...you are already logged in</h1>
    </div>

    <footer class="footer">
      <div class="container">
        <p class="text-muted" id="leftFooter">Alpha Warehouse Software</p>
        <p class="text-muted" id="rightFooter">Secreto CC.</p>
      </div>
    </footer>
  </div>
</div>
